@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Lobster&family=Noto+Serif+HK:wght@500&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;

    
}

br {
    height: 20px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

h2, h3, h4{
    font-family: 'Noto Serif HK', sans-serif;
    font-weight: 500;
}

h1 {
    font-family: 'DynaPuff', cursive;
    font-weight: 400;
    filter: drop-shadow(8px 8px 4px #fff56d);
}

/*Header area*/
header {
    border-bottom: 10px solid #FF31AC;
}

img {
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Story*/
.chapter {
    margin: 10px;
    padding: 10px;
    background-color: #fefff1;
    box-shadow: 8px 8px 8px grey;
    border-top: 20px solid grey;
}

.chapter h2, h3 {
    padding: 5px 0px;
}

.chapter > i {
    color: #1D12FC
}
.chapter > i:hover {
    color: #FF31AC;   
}

/*Challenge section*/
.challenge {
    text-align: center;
}


/* Button design*/
#calltoaction {
    text-align: center;
    margin: 50px 0px;
}

.button, button, #sum2, #roll, #illegal, #legal {
    display: inline-block;
    color: #fefff1;
    text-decoration: none;
    padding: 15px 40px;
    background-color: #1D12FC;
    box-shadow: 5px 5px #FFE843;
    transform: skewX(-15deg);
}

.button:hover, button:hover, #sum2:hover, #roll:hover #legal:hover, #illegal:hover {
    background-color: #FF31AC;
}

#submit, #sum2, #roll {
    display: block;
    margin: 20px auto;
}

/*Pick The Lock*/

#the-lock {
    display: inline-block;
    text-align: center;
    border: 3px solid grey;
    box-shadow: 5px 5px darkslategray;
    border-radius: 5px;
    background-color: grey;
    margin-top: 20px;
}


/*Input fields*/

#num1, #num2, #num3, #sum1, #dice1, #dice2{
    display: inline-flex;
    width: 50px;
    height: 50px;
    border: 3px solid black;
    font-size: 40px;
}

#dice1, #dice2 {
    margin: 10px;
    box-shadow: 5px 5px darkslategray;
}

#sum1 {
    margin-top: 20px;
    width: 100px;
}

/*Dice game*/

#dice-pic {
    width: 20%;
    height: auto;
}

#namesDice {
    display: flex;
    justify-content: center;
}


/*Score feedback*/
#score {
    text-align: center;
    border-top: 2px solid #FF31AC;
}

#time {
    font-size: xx-large;
}

/*Victory page*/

#victory {
    text-align: center;
}

#congrats {
    width: 50%;
    height: auto;
    margin-top: 20px;
}

#again-button {
    margin-top: 20px;
    margin-bottom: 50px;
}

footer {
    border-top: 2px solid #FF31AC;
    height: 30px;
}

/*Add media queries for larger devices*/

@media screen and (min-width: 1000px) {
body{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
}