@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Lobster&family=Noto+Serif+HK:wght@500&family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;    
}

br {
    height: 20px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#background {
    background: url('../images/party-birthday-banner-with-space-text.jpg') no-repeat center center;
    background-size: cover;
    background-color: aqua;
}

h1, h2, h3, h4{
    font-family: 'Noto Serif HK', sans-serif;
    font-weight: 500;
}

/*Header area*/
#menu{
    height: 25px;
    background-color: #FF31AC;
    color: white;
    padding-left: 5px;
    padding-top: 2px;
}

img {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
}

/*Score feedback*/
#score {
    text-align: center;
}

#time {
    font-size: xx-large;
    color: green;
    text-shadow: 1px 1px 2px lightgreen;
}

/*Story Area*/
.chapter {
    margin: 10px;
    padding: 10px;
    background-color: #fefff1;
    box-shadow: 8px 8px 8px grey;
    border-top: 20px solid grey;
    border-radius: 5px;
}

.chapter h2, h3 {
    padding: 5px 0px;
}


/*Game Area*/
#game-area {
    text-align: center;
    min-height: 150px;
    margin-top: 30px;
}


/* Button design*/
#start, #sum2, #submit, #roll, #illegal, #legal, #checkTurns, #go-to-party-one, #go-to-party-two, #try-again{
    display: inline-block;
    color: #fefff1;
    text-decoration: none;
    padding: 15px 40px;
    background-color: #1D12FC;
    box-shadow: 5px 5px #FFE843;
    transform: skewX(-15deg);
    margin: 20px;
    border-radius: 5px;
}

#start:hover, #sum2:hover, #submit:hover, #roll:hover, #legal:hover, #illegal:hover, #checkTurns:hover, #go-to-party-one:hover, #go-to-party-two:hover, #try-again:hover {
    background-color: #FF31AC;
}

#submit, #sum2, #roll {
    display: block;
    margin: 20px auto;
}

#turnRight {
    display: inline-block;
    color: #fefff1;
    text-decoration: none;
    padding: 5px 40px;
    background-color: green;
    box-shadow: 5px 5px greenyellow;
    transform: skewX(-15deg);
    margin: 20px;
    border-radius: 5px;
}

#turnRight:hover {
    background-color: lightgreen;
}

#turnLeft {
    display: inline-block;
    color: #fefff1;
    text-decoration: none;
    padding: 5px 40px;
    background-color: red;
    box-shadow: 5px 5px pink;
    transform: skewX(-15deg);
    margin: 20px;
    border-radius: 5px;
}

#turnLeft:hover {
    background-color: orange;
}

/*Pick The Lock*/

#the-lock {
    display: inline-block;
    text-align: center;
    border: 3px solid grey;
    box-shadow: 5px 5px darkslategray;
    border-radius: 5px;
    background-color: grey;
    margin-top: 20px;
}


/*Input fields*/

#num1, #num2, #num3{
    display: inline-flex;
    width: 50px;
    height: 50px;
    border: 3px solid black;
    font-size: 40px;
    box-shadow: 2px 2px 2px 2px grey inset;
}

#sum1, #dice1, #dice2{
    display: inline-flex;
    width: 50px;
    height: 50px;
    border: 3px solid black;
    font-size: 40px;
    background-color: white;
}

#dice1, #dice2 {
    margin: 10px;
    box-shadow: 5px 5px darkslategray;
}

#sum1 {
    margin-top: 20px;
    width: 100px;
}

/*Dice game*/

#dice-pic {
    width: 20%;
    height: auto;
}

#namesDice {
    display: flex;
    justify-content: center;
}

#score-pete, #score-bob, #result-pete, #result-bob {
    display: inline-flex;
    padding: 10px 10px;
}

#result-pete, #result-bob {
    font-weight: bold;
}

#flower,#snack, #gum{
    color:#FF31AC;
    font-weight: bold;
}


/*Footer*/
footer {
    height: 25px;
    padding-top: 2px;
    background-color: #FF31AC;
    text-align: right;
    padding-right: 5px;
}

#social li {
    list-style-type: none;
    display: inline;
}

.icon {
    color: white;
}



/*Add media queries for larger devices*/

@media screen and (min-width: 1000px) {
body{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
}